<div id="start">
  <!-- Button trigger modal -->
  <h1>Bem vindos ao quiz do MeuBabyQuer</h1>
  <a data-toggle="modal" class="btn btn-large btn-danger" href="#myModal" onclick="hideDiv('start')">Começar</a>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">Olá</h1>
      </div>
      <div class="modal-body">
        <h3>Meu nome é Joyce, que bom que você está aqui!<br>Vamos ver se você pode me ajudar...<br></h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-large btn-danger" onclick="clickHandler()" data-dismiss="modal" aria-hidden="true">Iniciar perguntas!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- <div id="start">
  Olá! Meu nome é Joyce, que bom que você está aqui!<br>Vamos ver se você pode me ajudar...<br>
  <button type="button" onclick="hideDiv('start')">Começar</button>
</div> -->

<div id="questions"></div>
<div id="error"></div>
<div id="result"></div>

<!-- Modal 2-->
<div class="modal fade" id="myModal2">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div id="resultMommy"></div>  
      </div>  
    </div>  
  </div>  
</div>  


<!-- PERTENÇO A AYA  -->

<script type="text/javascript">
var button = document.querySelector("button");
button.style.cursor = "pointer";
button.addEventListener("click", clickHandler, false);

function hideDiv(start)
{
  var hideStart = document.getElementById(start);
  if(hideStart.style.display=="none"){
    hideStart.style.display="";
  }else{
    hideStart.style.display="none";
  }    
}

function clickHandler()
{
  nivelA();
}

</script>