<div id="questions"></div>
<div id="error"></div>
<div id="result"></div> 

<script type="text/javascript">
  window.totalScore = <%= @totalscore %>
</script>
<script type="text/javascript">

nivelF();

</script>